include ../mixins/pug/*.pug
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title VSite

		link(rel="stylesheet", href="assets/styles/prolog.css")
		script(src="assets/scripts/prolog.bundle.js")

	body
		block content


		link(rel="stylesheet", href="assets/styles/main.css")
		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
		script(src="assets/scripts/main.bundle.js")