include ../mixins/mixins
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		style.
			.preloader {
				position: fixed;
				z-index: 999999;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				transition: all 0.3s;
				background: #111;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				color: #fff;
				font-weight: 300;
				font-size: 20px;
				line-height: 1;
				font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
				cursor: progress !important;
			}
			.preloader:before {
				content: '';
				display: block;
				width: 64px;
				height: 64px;
				border-radius: 50%;
				box-sizing: padding-box;
				box-sizing: border-box;
				border-left: 1px solid #fff;
				margin-bottom: 20px;
				animation: preloader-animation 0.7s infinite linear;
			}
			@keyframes preloader-animation {
				from {
					transform: rotate(0)
				}
				to {
					transform: rotate(360deg)
				}
			}
			.document-loaded .preloader {
				opacity: 0;
				visibility: hidden;
			}
	body
		.preloader
		#App

		- var jsFiles 	  = [].concat(locals.htmlWebpackPlugin.files.js);
		- var appFiles	  = [];
		- var appsList 	  = [];
		- var excludeApps = (file, list) => (file.indexOf('/apps/') !== 0)
		- appFiles = jsFiles.filterTo(excludeApps, appsList);
		script.
			window.__Apps = !{ JSON.stringify(appsList) }

		each file in appFiles
			script(src=file)